name: "Get release artifact for production"

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Release tag name'
        required: true
        type: string

jobs:
  attach-artifact:
    if: "${{ github.event_name == 'workflow_dispatch' || github.event.release.prerelease == false }}"
    runs-on: ubuntu-latest
    steps:
      - name: Find latest release artifact
        id: find-artifact
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG_NAME="${{ github.event.release.tag_name || inputs.tag_name }}"
          ARTIFACT_PATTERN="release_.*${TAG_NAME}.tar.gz"
          ARTIFACT_JSON=$(gh api \
          -H "Accept: application/vnd.github+json" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          repos/${{ github.repository }}/actions/artifacts \
          --jq '[.artifacts[] | select(.name | test("'"$ARTIFACT_PATTERN"'")) | {id, name, archive_download_url, created_at, digest, workflow_run}] | sort_by(.created_at) | last')
          
          if [ "$(echo $ARTIFACT_JSON | jq -r '.id')" == "null" ]; then
            echo "❌ No artifact found matching pattern: $ARTIFACT_PATTERN"
            exit 1
          fi
          
          echo "artifact_id=$(echo $ARTIFACT_JSON | jq -r '.id')" >> $GITHUB_OUTPUT
          echo "artifact_digest=$(echo $ARTIFACT_JSON | jq -r '.digest')" >> $GITHUB_OUTPUT
          echo "artifact_run_id=$(echo $ARTIFACT_JSON | jq -r '.workflow_run.id')" >> $GITHUB_OUTPUT
          echo "artifact_name=$(echo $ARTIFACT_JSON | jq -r '.name')" >> $GITHUB_OUTPUT
          echo "artifact_url=$(echo $ARTIFACT_JSON | jq -r '.archive_download_url')" >> $GITHUB_OUTPUT
          
          echo "✅ Found artifact: $(echo $ARTIFACT_JSON | jq -r '.name')"
          echo "Artifact url: $(echo $ARTIFACT_JSON | jq -r '.archive_download_url')"

      - name: Attach build artifact link to this release information
        id: artifact-link-to-release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe #v2.4.2
        with:
          tag_name: "${{ github.event.release.tag_name || inputs.tag_name }}"
          append_body: true
          body: |
            -- 
            ✅ Link to release build artifact:
            ${{ steps.find-artifact.outputs.artifact_name }}
            ${{ steps.find-artifact.outputs.artifact_url }}

      - name: Trigger post-release deployment workflow
        id: payload
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f #v4.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event-type: deployment
          client-payload: |-
            {
              "environment": "production",
              "artifact_name": "${{ steps.find-artifact.outputs.artifact_name }}",
              "artifact_url": "${{ steps.find-artifact.outputs.artifact_url }}",
              "artifact_digest": "${{ steps.find-artifact.outputs.artifact_digest }}",
              "artifact_run_id" : "${{ steps.find-artifact.outputs.artifact_run_id }}",
              "tag_name": "${{ github.event.release.tag_name || inputs.tag_name }}"
            }
